<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <b-button variant="primary" @click="addNew">เพิ่มใหม่</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItem" :fields="fields">
            <template #cell(operators)="items">
              <b-button @click="editProduct(items)">แก้ไข</b-button
              ><b-button @click="deleteProduct(items)" class="ml-1" variant="danger">ลบ</b-button>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    editProduct (item) {},
    deleteProduct (item) {},
    addNew () {}
  },
  data () {
    return {
      fields: [
        {
          key: 'productID',
          label: 'ID'
        },
        {
          key: 'name',
          label: 'ชื่อสินค้า'
        },
        {
          key: 'price',
          label: 'ราคา'
        },
        {
          key: 'operators',
          label: 'กระบวนการ'
        }
      ],
      productItem: [
        { productID: 1, name: 'IPad gen1 64G wifi', price: 11000.0 },
        { productID: 2, name: 'IPad gen2 64G wifi', price: 12000.0 },
        { productID: 3, name: 'IPad gen3 64G wifi', price: 13000.0 },
        { productID: 4, name: 'IPad gen4 64G wifi', price: 14000.0 },
        { productID: 5, name: 'IPad gen5 64G wifi', price: 15000.0 },
        { productID: 6, name: 'IPad gen6 64G wifi', price: 16000.0 },
        { productID: 7, name: 'IPad gen7 64G wifi', price: 17000.0 },
        { productID: 8, name: 'IPad gen8 64G wifi', price: 18000.0 },
        { productID: 9, name: 'IPad gen9 64G wifi', price: 19000.0 },
        { productID: 10, name: 'IPad gen10 64G wifi', price: 20000.0 }
      ]
    }
  }
}
</script>
<style></style>
