<template>
  <div class="app-menu min-vh-100">
    <b-img src="../assets/buu.png" width="80%" class="pt-3 pb-3" center></b-img>
    <b-nav vertical>
      <b-nav-item to="/">Home</b-nav-item>
      <b-nav-item to="/about">About</b-nav-item>
      <b-nav-item @click="showFormInput = !showFormInput"
        >Form Input
        <b-icon :icon="showFormInput ? 'caret-down' : 'caret-right'"></b-icon
      ></b-nav-item>
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput1"
        >Form Input 1
      </b-nav-item>
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput2"
        >Form Input 2</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput3"
        >Form Input 3
      </b-nav-item>
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput4"
        >Form Input 4
      </b-nav-item>
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput5"
        >Form Input 5
      </b-nav-item>
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput6"
        >Form Input 6
      </b-nav-item>
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput7"
        >Form Input 7
      </b-nav-item>
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput8"
        >Form Input 8
      </b-nav-item>
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput9"
        >Form Input 9
      </b-nav-item>
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./formInput10"
        >Form Input 10
      </b-nav-item>

      <b-nav-item @click="showForm = !showForm"
        >Form
        <b-icon :icon="showForm ? 'caret-down' : 'caret-right'"></b-icon
      ></b-nav-item>
      <b-nav-item v-if="showForm" class="sub-menu" to="./form1"
        >Form 1
      </b-nav-item>
      <b-nav-item v-if="showForm" class="sub-menu" to="./form2"
        >Form 2
      </b-nav-item>
      <b-nav-item v-if="showForm" class="sub-menu" to="./form3"
        >Form 3
      </b-nav-item>
      <b-nav-item v-if="showForm" class="sub-menu" to="./form4"
        >Form 4
      </b-nav-item>

    <b-nav-item @click="showCrud = !showCrud"
        >CRUD Example
        <b-icon :icon="showCrud ? 'caret-down' : 'caret-right'"></b-icon
      ></b-nav-item>
      <b-nav-item v-if="showCrud" class="sub-menu" to="./dataTable1"
        >Data Table 1
      </b-nav-item>
      <b-nav-item v-if="showCrud" class="sub-menu" to="./productForm1"
        >Product Form 1
      </b-nav-item>
      <b-nav-item v-if="showCrud" class="sub-menu" to="./productTable"
        >Product Table
      </b-nav-item>
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFormInput: false,
      showForm: false,
      showCrud: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: gray;
  font-size: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: gold;
}
.sub-menu {
  padding-left: 10pt;
}
</style>
